hikari==2.0.0.dev107
python-Levenshtein==0.12.2
coredis>=2.3,<2.4
quickjs>=1.16,<1.18
emoji>=1.6,<1.8
python-dotenv>=0.19,<0.20
sentry_sdk>=1.5,<1.6
janus>=1.0,<1.1
msgpack>=1,<1.1
expirepy@git+ssh://git@github.com/cleaner-bot/expirepy.git
cleaner_conf@git+ssh://git@github.com/cleaner-bot/cleaner-config
cleaner_data@git+ssh://git@github.com/cleaner-bot/cleaner-data
cleaner_i18n@git+ssh://git@github.com/cleaner-bot/cleaner-i18n